.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* MOBILE NAV */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
        color: white;
    }

    .nav-menu {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        flex-direction: column;
        background: #d63384;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }
}
