body {
    margin:0;
    font-family:Arial;
    background:#fff5f8;
}

/* NAV */
.header {
    background:#d63384;
    color:white;
    padding:15px;
}

.nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hamburger {
    font-size:1.5rem;
    cursor:pointer;
    display:none;
}

#menu {
    display:flex;
    gap:20px;
    list-style:none;
}

#menu a {
    color:white;
    text-decoration:none;
}

/* HERO */
.hero {
    text-align:center;
    padding:50px;
}

/* PRODUCTS */
.products {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap:20px;
    padding:20px;
}

.product {
    background:white;
    padding:15px;
    border-radius:15px;
    text-align:center;
}

.product img {
    width:100%;
    border-radius:10px;
}

.product button {
    width:100%;
    margin:5px 0;
    padding:10px;
    border:none;
    background:#d63384;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

/* CART */
.cart-icon {
    position:fixed;
    bottom:20px;
    right:20px;
    background:#d63384;
    color:white;
    padding:15px;
    border-radius:50px;
    cursor:pointer;
}

/* MODAL */
.modal {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.modal-content {
    background:white;
    padding:20px;
    width:400px;
    margin:5% auto;
    border-radius:15px;
}

/* CART ITEMS */
.cart-item {
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}

.qty-btn {
    padding:5px 10px;
    margin:0 5px;
    cursor:pointer;
}

/* MOBILE */
@media(max-width:768px){

    .hamburger {
        display:block;
    }

    #menu {
        position:absolute;
        top:60px;
        right:-100%;
        flex-direction:column;
        background:#d63384;
        width:200px;
        padding:20px;
        transition:0.3s;
    }

    #menu.active {
        right:0;
    }

    .modal-content {
        width:90%;
    }
}

#toast {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: #28a745;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    opacity: 0;
    transition: 0.3s;
    z-index: 3000;
}

#toast.show {
    opacity: 1;
}
